header {
  padding-bottom: 0px;
  width: 70%;
  margin: auto;
}

.menus {
    display: inline;
    padding: 8px;
    float: right;
    margin-top: 30PX;
    padding-left: 30px;
}

.menus a {
text-decoration: none;
color: black;
}

a:hover {
color: rgb(10, 101, 204);
text-decoration: overline;
}

header img {
    float: inline-start;
    margin-top: 30PX;
}

.contenedor1 {
    display: flex;
}

.contenedor1 {
    width: 70%;
    margin: auto;
    margin-top: 105px;
  }

.contenedor1 h1 {
    text-align: center;
    border: 8px solid;
    align-self: flex-start;
}

.contenedor1 p {
    text-align: left;
    align-items: auto;
}

.logo2 {
    justify-content: flex-end;
    margin-left: 450px;
    padding-bottom: 150px;
}

.contenedor2 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background-color: rgb(194, 194, 194);
    margin: 30px;
    gap: 80px;
}

.contenedor2 {
    background-color: rgb(141, 139, 139);
    padding: 150px;
 }

.color1 h2 {
   flex-basis: 20%;
   background-color: rgb(20, 148, 52);
   text-align: center;
   padding: 10px 10px 80px 10px;
}

.color2 h2 {
    flex-basis: 20%;
    background-color: rgb(236, 222, 28);
    text-align: center;
    padding: 10px 10px 80px 10px;
 }

 .color3 h2 {
    flex-basis: 20%;
    background-color: rgb(233, 221, 181);
    text-align: center;
    padding: 10px 10px 80px 10px;
 }

 .color4 h2 {
    flex-basis: 20%;
    background-color: rgb(238, 128, 38);
    text-align: center;
    padding: 10px 10px 80px 10px;
 }

 .color5 h2 {
    flex-basis:20%;
    background-color: rgb(233, 70, 70);
    text-align: center;
    padding: 10px 10px 80px 10px;
 }

 .color6 h2 {
    flex-basis: 20%;
    background-color: rgb(184, 118, 126);
    text-align: center;
    padding: 10px 10px 80px 10px;
 }

 .color7 h2 {
    flex-basis: 20%;
    background-color: rgb(253, 169, 179);
    text-align: center;
    padding: 10px 10px 80px 10px;
 }

 .color8 h2 {
    flex-basis: 20%;
    background-color: rgb(170, 144, 241);
    text-align: center;
    padding: 10px 10px 80px 10px;
 }

 .color9 h2 {
    flex-basis: 20%;
    background-color: rgb(64, 193, 197);
    text-align: center;
    padding: 10px 10px 80px 10px;
 }

 .footer1 {
     background-color: black;
     padding-top: 40px;
     color: white;
     height: auto;
     display: flex;
     padding-top: 20px;
     gap: 1px;
     flex-wrap: wrap;
     text-align: center;
     padding: 10px;
     padding-left: 10px;
 }

 .footer1 li {
    align-self: flex-end;
    display: inline;
    padding: 12px;
}

.footer1 a {
    color: white;
    text-decoration: none;
}

.footer1 a:hover {
    color: rgb(179, 214, 255);
    text-decoration: overline;
    }

.footer1 h2 {
    color: rgb(145, 139, 156);
    text-align: center;
    grid-column: span 2;
    margin-bottom: 10px;
    display: inline;
}

.footer1 h1 {
    text-align: left;
    padding-left: 10%;
    font-size: 15px;
    justify-content: flex-start;
}

/* ##Dispositivo = Tablets, Ipads (horizontal) 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px)  {

    header {
        padding-bottom: 0px;
        width: 95%;
        margin: auto;
        flex-wrap: wrap;
      }
      
      .menus {
          display: inline;
          padding: 2px;
          float: right;
          margin-top: 15px;
          padding-left: 5px;
          align-items: flex-end;
          flex-wrap: wrap;
      }
      
      .menus a {
        text-decoration: none;
        color: rgb(142, 58, 211);
        }
      
      header img {
          align-content: space-between;
          align-items: center;
          margin-top: 5px;
          justify-content: space-between;
      }
      
      .contenedor1 {
          display: flex;
          flex-wrap: wrap;
      }
      
      .contenedor1 {
          width: 90%;
          margin: auto;
          margin-top: 50px;
        }
      
      .contenedor1 h1 {
          text-align: center;
          border: 8px solid;
          align-self: flex-start;
      }
      
      .contenedor1 p {
          text-align: center;
          align-items: auto;
      }
      
      .logo2 {
          justify-content: center;
          margin-left: 100px;
          padding-bottom: 60px;
      }
      
      .contenedor2 {
          display: flex;
          flex-wrap: wrap;
          margin: auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          background-color: rgb(226, 160, 188);
          margin: 10px;
          gap: 5px;
      }
      
      .contenedor2 {
          background-color: rgb(129, 107, 86);
          padding: 150px;
       }
      
      .color1 h2 {
         flex-basis: 20%;
         background-color: rgb(20, 148, 52);
         text-align: center;
         padding: 10px 10px 80px 10px;
      }
      
      .color2 h2 {
          flex-basis: 20%;
          background-color: rgb(236, 222, 28);
          text-align: center;
          padding: 10px 10px 80px 10px;
       }
      
       .color3 h2 {
          flex-basis: 20%;
          background-color: rgb(233, 221, 181);
          text-align: center;
          padding: 10px 10px 80px 10px;
       }
      
       .color4 h2 {
          flex-basis: 20%;
          background-color: rgb(238, 128, 38);
          text-align: center;
          padding: 10px 10px 80px 10px;
       }
      
       .color5 h2 {
          flex-basis:20%;
          background-color: rgb(233, 70, 70);
          text-align: center;
          padding: 10px 10px 80px 10px;
       }
      
       .color6 h2 {
          flex-basis: 20%;
          background-color: rgb(184, 118, 126);
          text-align: center;
          padding: 10px 10px 80px 10px;
       }
      
       .color7 h2 {
          flex-basis: 20%;
          background-color: rgb(253, 169, 179);
          text-align: center;
          padding: 10px 10px 80px 10px;
       }
      
       .color8 h2 {
          flex-basis: 20%;
          background-color: rgb(170, 144, 241);
          text-align: center;
          padding: 10px 10px 80px 10px;
       }
      
       .color9 h2 {
          flex-basis: 20%;
          background-color: rgb(64, 193, 197);
          text-align: center;
          padding: 10px 10px 80px 10px;
       }
      
       .footer1 {
           background-color: rgb(7, 83, 134);
           padding-top: 40px;
           color: white;
           height: auto;
           display: flex;
           padding-top: 10px;
           gap: 1px;
           flex-wrap: wrap;
           text-align: center;
           padding: 10px;
           padding-left: 10px;
       }

  
  }

  /* ##Dispositivo = Tablets, Mobiles de 481px a 767px */
  @media (min-width: 481px) and (max-width: 767px) {


    header {
        padding-bottom: 0px;
        width: 85%;
        margin: auto;
        flex-wrap: wrap;
      }
      
      .menus {
          display: inline;
          padding: 2px;
          float: right;
          margin-top: 8px;
          padding-left: 6px;
          justify-content: flex-end;
          flex-wrap: wrap;
          align-items: flex-end;
      }

      .menus a {
        text-decoration: none;
        color: rgb(145, 10, 10);
        }
      
      
      header img {
          align-content: space-between;
          align-items: center;
          margin-top: 5px;
          justify-content: center;
      }
      
      .contenedor1 {
          display: flex;
          flex-wrap: wrap;
      }
      
      .contenedor1 {
          width: 85%;
          margin: auto;
          margin-top: 50px;
        }
      
      .contenedor1 h1 {
          text-align: right;
          border: 8px solid;
          align-self: flex-start;
      }
      
      .contenedor1 p {
          text-align: left;
          align-items: auto;
      }
      
      .logo2 {
          justify-content: center;
          margin-left: 120px;
          padding-bottom: 50px;
      }
      
      .contenedor2 {
          display: flex;
          flex-wrap: wrap;
          margin: auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          background-color: rgb(214, 194, 194);
          margin: 10px;
          gap: 2px;
      }
      
      .contenedor2 {
          background-color: rgb(121, 113, 113);
          padding: 50px;
          justify-content: center;
       }
      
      .color1 h2 {
         flex-basis: 20%;
         background-color: rgb(20, 148, 52);
         text-align: center;
         padding: 10px 10px 50px 10px;
      }
      
      .color2 h2 {
          flex-basis: 20%;
          background-color: rgb(236, 222, 28);
          text-align: center;
          padding: 10px 10px 50px 10px;
       }
      
       .color3 h2 {
          flex-basis: 20%;
          background-color: rgb(233, 221, 181);
          text-align: center;
          padding: 10px 10px 50px 10px;
       }
      
       .color4 h2 {
          flex-basis: 20%;
          background-color: rgb(238, 128, 38);
          text-align: center;
          padding: 10px 10px 50px 10px;
       }
      
       .color5 h2 {
          flex-basis:20%;
          background-color: rgb(233, 70, 70);
          text-align: center;
          padding: 10px 10px 50px 10px;
       }
      
       .color6 h2 {
          flex-basis: 20%;
          background-color: rgb(184, 118, 126);
          text-align: center;
          padding: 10px 10px 50px 10px;
       }
      
       .color7 h2 {
          flex-basis: 20%;
          background-color: rgb(253, 169, 179);
          text-align: center;
          padding: 10px 10px 50px 10px;
       }
      
       .color8 h2 {
          flex-basis: 20%;
          background-color: rgb(170, 144, 241);
          text-align: center;
          padding: 10px 10px 50px 10px;
       }
      
       .color9 h2 {
          flex-basis: 20%;
          background-color: rgb(64, 193, 197);
          text-align: center;
          padding: 10px 10px 50px 10px;
       }
      
       .footer1 {
           background-color: rgb(66, 61, 61);
           padding-top: 40px;
           color: white;
           height: auto;
           display: flex;
           padding-top: 5px;
           gap: 1px;
           flex-wrap: wrap;
           text-align: center;
           padding: 10px;
           padding-left: 5px;
       }

  
  }

 /* ##Dispositivo = Smartphones de 320px a 479px */
 @media (min-width: 320px) and (max-width: 480px) {



    header {
        padding-bottom: 0px;
        width: 80%;
        margin: auto;
        flex-wrap: wrap;
      }
      
      .menus {
          display: inline;
          padding: 2px;
          margin-top: 2px;
          padding-left: 1px;
          flex-wrap: wrap;
      }

      .menus a {
        text-decoration: none;
        color: rgb(11, 177, 189);
        }
      
      
      header img {
         align-content: center;
          align-items: center;
          margin-top: 10px;
          justify-content: center;
      }
      
      .contenedor1 {
          display: flex;
          flex-wrap: wrap;
      }
      
      .contenedor1 {
          width: 80%;
          margin: auto;
          margin-top: 60px;
        }
      
      .contenedor1 h1 {
          text-align: right;
          border: 8px solid;
          align-self: flex-start;
      }
      
      .contenedor1 p {
          text-align: left;
          align-items: auto;
      }
      
      .logo2 {
          justify-content: center;
          margin-left: 55px;
          padding-bottom: 50px;
      }
      
      .contenedor2 {
          display: flex;
          flex-wrap: wrap;
          margin: auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          background-color: rgb(192, 201, 240);
          margin: 10px;
          gap: 2px;
      }
      
      .contenedor2 {
          background-color: rgb(136, 104, 104);
          padding: 50px;
          justify-content: center;
       }
      
      .color1 h2 {
         flex-basis: 20%;
         background-color: rgb(20, 148, 52);
         text-align: center;
         padding: 10px 10px 50px 10px;
      }
      
      .color2 h2 {
          flex-basis: 20%;
          background-color: rgb(236, 222, 28);
          text-align: center;
          padding: 10px 10px 50px 10px;
       }
      
       .color3 h2 {
          flex-basis: 20%;
          background-color: rgb(233, 221, 181);
          text-align: center;
          padding: 10px 10px 50px 10px;
       }
      
       .color4 h2 {
          flex-basis: 20%;
          background-color: rgb(238, 128, 38);
          text-align: center;
          padding: 10px 10px 50px 10px;
       }
      
       .color5 h2 {
          flex-basis:20%;
          background-color: rgb(233, 70, 70);
          text-align: center;
          padding: 10px 10px 50px 10px;
       }
      
       .color6 h2 {
          flex-basis: 20%;
          background-color: rgb(184, 118, 126);
          text-align: center;
          padding: 10px 10px 50px 10px;
       }
      
       .color7 h2 {
          flex-basis: 20%;
          background-color: rgb(253, 169, 179);
          text-align: center;
          padding: 10px 10px 50px 10px;
       }
      
       .color8 h2 {
          flex-basis: 20%;
          background-color: rgb(170, 144, 241);
          text-align: center;
          padding: 10px 10px 50px 10px;
       }
      
       .color9 h2 {
          flex-basis: 20%;
          background-color: rgb(64, 193, 197);
          text-align: center;
          padding: 10px 10px 50px 10px;
       }
      
       .footer1 {
           background-color: rgb(126, 90, 90);
           padding-top: 20px;
           color: white;
           height: auto;
           display: flex;
           padding-top: 2px;
           gap: 1px;
           flex-wrap: wrap;
           text-align: center;
           padding: 5px;
           padding-left: 3px;
       }

  
  }
